* 
  margin 0
  padding 0
  list-style none
  box-sizing border-box
  font-family 'Noto Sans TC', 'Microsoft JhengHei', sans-serif

// html,body
//   height 100%

// body
//   display flex
//   justify-content center

#app
  min-height 100vh

.container
  min-height 100vh
  width 100%
  padding-right 15px
  padding-left 15px
  padding-top 3rem
  margin-right auto
  margin-left auto

// container rwd
@media (min-width 1200px)
  .container
    max-width 1140px

@media (min-width 992px) and (max-width 1199.98px)
  .container
    max-width 960px

@media (min-width 768px) and (max-width 991.98px)
  .container
    max-width 720px

@media (min-width 576px) and (max-width 767.98px)
  .container
    max-width 540px

// HOME

.home
  min-height 100%

.flex
  width 100%
  display flex
  flex-wrap wrap
  justify-content space-between

// .flex rwd
  @media (max-width 767.98px)
    .flex
      justify-content center

.card
  width 320px
  padding-bottom 1rem
  position relative

.image-text
  position relative

.time
  position absolute
  bottom: 8px;
  right: 8px;
  background rgb(50,50,50)
  color rgb(255,255,255)

.description
  font-size 7px
  color: rgb(192,192,192)

.Favoritebutton
  position absolute
  font-size 15px
  top 3%
  color white

.deleteFavoritebutton
  position absolute
  font-size 15px
  top 3%
  color pink

.button-flex
  display flex
  justify-content center

button
  min-width 25px
  margin 0 0.25rem
  background none
  border none
